{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Delete Subject</h2>
    <hr>
    <form method="POST" action="/confirm_delete_subject">
        <div class="form-group">
            <label for="subject_code">Code</label>
            <input readonly type="text"  class="form-control" id="subject_code" name="subject_code" value="{{ subject.code }}"
                   placeholder="{{ subject.code }}" style="width: 30%;" required>
        </div>
        <div class="form-group">
            <label for="subject_name">Name</label>
            <input readonly type="text" class="form-control" id="subject_name" name="subject_name" value="{{ subject.name }}"
                   placeholder="{{ subject.name }}"  required>
        </div>
        <div  class="form-group">
            <label>Instances: {{ subject.instances }}</label>
        </div>
        <div class="form-group">
            <label>Are you sure? This action cannot be undone</label>
            <input type="hidden" name="subject_id" value="{{ subject.id }}"/>
        </div>
            <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}