{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Create User</h2>
    <hr>
    <form method="POST" action="/update_user">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="user_email"
                   style="width: 70%;" value="{{user_data.email}}" readonly>
        </div>
        <div class="form-group">
            <label>Set New Password</label>
            <div>
                 <small class="text-danger">
                ONLY ENTER IF NEW PASSWORD REQUIRED
                </small>
            </div>
            <input type="password" class="form-control" name="new_password"
                   style="width: 70%;" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="">
            <small>At least 8 characters, including uppercase, lowercase, and a number</small>
        </div>
        <div class="form-group">
            <label>Role</label>
            <select class="form-control" style="width: 50%;" name="user_role" required>
                {% for role in roles %}
                    <option value="{{role.account_level}}" {% if role.account_level == user_data.account_level %}
                      selected {% endif %}>
                         {{ role.role }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Link account to Lecturer</label>
            <select class="form-control" style="width: 50%;" name="lecturer_id">
                {% if linked_lecturer %}
                    <option value="" selected>{{ linked_lecturer.name }}</option>
                {% else %}
                    <option selected></option>
                {% endif %}
                {% for lecturer in unattached_lecturers %}
                    <option value="{{lecturer.id}}">{{ lecturer.name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="user_id" value="{{user_data.id}}">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock %}