<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">TCSS</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/logout">Sign out</a>
      </li>
    </ul>
</nav>

{% if account_level < 3 %}
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        {% if account_level == 1 %}
        <li class="nav-item">
          <a class="nav-link" href="/view_lecturers">
            <span data-feather="manage lecturers"></span>
            Manage Lecturers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view_subjects">
            <span data-feather="manage subjects"></span>
            Manage Subjects
          </a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/scheduling">
            <span data-feather="manage schedule"></span>
            Manage Schedule
          </a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="/manage_development">
                <span data-feather="manage development"></span>
                Subject Development
              </a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="/user_management">
                <span data-feather="user management"></span>
                User Management
              </a>
        </li>
        {% endif %}
        {% if account_level == 2 %}
        <li class="nav-item">
          <a class="nav-link" href="/scheduling">
            <span data-feather="manage schedule"></span>
            Manage Schedule
          </a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="/manage_development">
                <span data-feather="manage development"></span>
                Subject Development
              </a>
        </li>
        {% endif %}
        </ul>
    </div>
  </nav>
{% endif %}