{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <!-- Subjects List -->
        <h2>Manage Subjects</h2>
        <hr>
        <div class="form-group">
            <form action="/add_subject">
                <button type="submit" class="btn btn-primary btn-custom">Add New Subject</button>
            </form>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Subject Name</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody id="subject-table-body">
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.code }}</td>
                    <td>{{ subject.name }}</td>
                    <td>
                        <form method="POST" action="/edit_subject">
                            <input type="hidden" name="subject_id" value="{{ subject.id }}"/>
                            <button type="submit"  class="btn btn-warning">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/delete_subject">
                            <input type="hidden" name="subject_id" value="{{ subject.id }}"/>
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}