{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Add Subject</h2>
    <hr>
    <form method="POST" action="/add_subject">
        <div class="form-group">
            <label for="subject_code">Code</label>
            <input type="text"  class="form-control" id="subject_code" name="subject_code" style="width: 30%;" required>
        </div>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="subject_name">Name</label>
            <input type="text" class="form-control" id="subject_name" name="subject_name" pattern="[a-zA-Z 0-9]+" required>
        </div>
            <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{% endblock %}