{% extends 'layout.html' %}
{% block content %}
    <div class="container mt-5 w-25">
      <div>
          <h2>Create Instance - Details</h2>
          <hr>
          <form id="instance_form" method="POST" action="/create_instance"></form>
          <form id="year_form" method="POST" action="/year_select"></form>
              <div class="form-group">
                  <label>Subject: {{ subject_data.code }} - {{ subject_data.name }}</label>
              </div>
              <div class="form-group">
                  <label>Start Date</label>
                  <div class="input-group">
                      <select class="form-control" name="instance_year" form="year_form">
                          {% for year in years %}
                            <option value="{{ year }}"
                                {% if year == selected_year %}
                                    selected
                                {% endif %}>
                                {{ year }}
                            </option>
                          {% endfor %}
                      </select>
                      <div class="input-group-append">
                           <button form="year_form" type="submit" class="btn btn-primary">Submit</button>
                      </div>
                  </div>
                    {% if months %}
                        <select class="form-control" form="instance_form" name="instance_month">
                            {% for month in months %}
                                <option value="{{ month }}">
                                    {{ month }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {% if selected_year %}
                            <div class="alert alert-danger" role="alert">
                                No Months available
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                Select Year before progressing
                            </div>
                        {% endif %}
                    {% endif %}
              </div>
              <div class="form-group">
                  <label>Student Count:</label>
                  <input class="form-control" form="instance_form" type="number" name="student_count" placeholder="0" min="0" step="1"
                  style="width: 20%;">
              </div>
                <input form="year_form" type="hidden" name="subject_id" value="{{ subject_data.id }}"/>
                <input form="instance_form" type="hidden" name="subject_id2" value="{{ subject_data.id }}"/>
                <input form="instance_form" type="hidden" name="instance_year2" value="{{ selected_year }}"/>
          </div>
        <button type="submit" form="instance_form" class="btn btn-primary">Create Instance</button>
    </div>
{% endblock %}