{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Delete Planned Development</h2>
    <hr>
    <form method="POST" action="/confirm_delete_development">
        <div class="form-group">
            <label>Subject Name</label>
            <input readonly type="text" class="form-control" name="subject_name" value="{{ instance.subject_name }}"
                   placeholder="{{ instance.subject_name }}">
        </div>
        <div class="form-group">
            <label>Lecturer Name</label>
            <input readonly type="text" class="form-control" name="lecturer_name" value="{{ instance.lecturer_name }}"
                   placeholder="{{ instance.lecturer_name }}">
        </div>
        <div class="form-group">
            <label>Period</label>
            <input readonly type="text" class="form-control" name="period" value="{{ instance.period }}"
                   placeholder="{{ instance.period }}">
        </div>
        <div class="form-group">
            <label>Are you sure? This action cannot be undone</label>
            <input type="hidden" name="instance_id" value="{{ instance.id }}"/>
        </div>
            <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}