{% extends 'layout.html' %}
{% block content %}
    <!-- Full-Time Lecturers Section -->
    <div id="lecturers" class="container mt-5 w-auto">
        <h2>Manage Lecturers</h2>
        <hr>
        <div class="form-group">
            <form action="/add_lecturer">
                <button type="submit" class="btn btn-primary btn-custom">Add New Lecturer</button>
            </form>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Employment Type</th>
                    <th>{{ date.month }} Workload</th>
                    <th>Expertise</th>
                </tr>
            </thead>
            <tbody id="lecturer-table-body">
            {% for lecturer in lecturer_data %}
                <tr>
                    <td>{{ lecturer.name }}</td>
                    <td>{{ lecturer.employment }}</td>
                    <td>{{ lecturer.workload }}</td>
                    <td>
                        {% for subject in lecturer.expertise %}
                            {{ subject }}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        <form method="POST" action="/edit_lecturer">
                            <input type="hidden" name="lecturer_id" value="{{ lecturer.id }}"/>
                            <button type="submit"  class="btn btn-warning">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/delete_lecturer">
                            <input type="hidden" name="lecturer_id" value="{{ lecturer.id }}"/>
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}